{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
                <header class="masthead" style="background-image: url('{{ url_for ('static',filename='assets/img/p1.avif')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>About</h2>
                            <span class="subheading">What is Resume Screening....?</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h4>What is Resume Screening?</h4>
                        <hr>
                        <p>Choosing the right people for the job is the biggest responsibility of 
                          every business since choosing the right set of people can accelerate 
                          business growth exponentially.
                        Due to many big projects with big companies, their team does not have time to read resumes and choose the best resume according to their requirements.
                        To solve this type of problem, the company always chooses a third party whose job is to make the resume as per the requirement. These companies are known by the name of Hiring Service Organization. It’s all about the information resume screen.
                        The work of selecting the best
                        talent, assignments, online coding contests among many others is also known 
                        as resume screen.</p>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}   
